
thead{
    text-align: center;
}


#yearMonth{
    font:bold;
    font-size:18px;
}

#calendarTable{
    position: relative;
    width: 100%;
    border-collapse: separate;
}

#calendarThead{
    font-family: ArialRounded;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    table-layout: auto;
    margin-bottom: 1px;
    background-color: transparent;

}

.weekTd{
    background-color: #ebebeb;
}

.calendarTop{
    background-image: linear-gradient(93deg, #a426b4, #581bc9 94%);
}

.calendarTopTitle{
    text-align: center;
    font-family: ArialRounded;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.16;
    letter-spacing: normal;
    color: #fffdfd;
}

#fastPre,#pre,#next,#fastNext{
    margin:10px;
    color: #fffdfd;
}

 div.ddModal { position:relative; z-index:1; }
 div.modalBackground { position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0, 0, 0, 0.8); z-index:-1; }
 div.modalContent { position:fixed; top:5%; left:20%; width:900px; height:700px; padding:20px 10px; background:#fff; border:2px solid #666; }

