{{#layout}}

  <!-- 합쳐지고 최소화된 최신 CSS -->
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

  <!-- 부가적인 테마 -->
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">


  <div class="container">

    <div class="row">
      <div class="col-md-12">

        <div class="page-header">
          <h1>Tags</h1>
        </div>

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">
              Manage your tags!!
            </h3>
          </div>
          <div class="panel-body">
            <p>Food name</p>
            <div>
              <ul class="list-group">
                {{#result.result}}
                  <li class="list-group-item">
                    <div style="position:relative; float:left;">
                      {{foodName}}
                    </div>

                    <div style="position:relative; float:right;">
                      <button type="button" class="btn btn-info">Modify</button>
                      <button type="button" class="btn btn-warning">Delete</button>
                    </div>

                  </li>

                {{/result.result}}
              </ul>
            </div>
          </div>

          <div class="panel-footer">
            <nav>
              <div>
                  <ul class="pagination">
                    <li class="page-item" id="previousPage">
                      {{#result.previous}}
                        <a id="{{result.previous.pageNumber}}"></a>
                      {{/result.previous}}
                    </li>

                      {{#result.pageList}}
                        <li id="{{pageNumber}}">
                          <a></a>
                        </li>
                      {{/result.pageList}}

                    <li class="page-item" id="nextPage">
                      {{#result.next}}
                        <a id="{{result.next.pageNumber}}"></a>
                      {{/result.next}}
                    </li>
                  </ul>
                <div style="position:relative; float:right;">
                  <button type="button" class="btn btn-success">Add</button>
                </div>

              </div>

            </nav>
          </div>
        </div>


      </div>
    </div>
  </div>

  <form id="pageForm" method="get">
    <input type="hidden" id="currentPage" name="page" value="{{result.currentPageNumber}}">
    <input type="hidden" name="size" value="{{result.currentPage.pageSize}}">
  </form>


{{/layout}}
<script src="/js/app/tag/tag.js"></script>