
{{#layout}}
<input type='hidden' id="calendarId" value=""/>

<div class="content-back">
    <div class="table100 ver3 m-b-110">
        <table id="calendarTable">
            <thead id="calendarThead">
            <tr>
                <td colspan="7" class="calendarTop">
                    <button type='button' id='fastPre'><i class="fas fa-angle-double-left"></i></button>
                    <button type='button' id='pre'><i class="fas fa-angle-left"></i></button>
                    <span class="calendarTopTitle" id='yearMonth'></span>
                    <button type='button' id='next'><i class="fas fa-angle-right"></i></button>
                    <button type='button' id='fastNext'><i class="fas fa-angle-double-right"></i></button>
                    <div>
                        <span class="calendarTopTitle">Diabetes Diary Calendar</span>
                    </div>
                </td>
            </tr>
        </table>

        <table data-vertable="ver3">
            <thead id="thead">
            <tr class="row100 head">
                <th class="column100 column1" data-column="column1"></th>
                <th class="column100 column2" data-column="column2">Sunday</th>
                <th class="column100 column3" data-column="column3">Monday</th>
                <th class="column100 column4" data-column="column4">Tuesday</th>
                <th class="column100 column5" data-column="column5">Wednesday</th>
                <th class="column100 column6" data-column="column6">Thursday</th>
                <th class="column100 column7" data-column="column7">Friday</th>
                <th class="column100 column8" data-column="column8">Saturday</th>
            </tr>
            </thead>

            <tbody id="tbody">
            <tr class="row100">
                <td class="column100 column1" data-column="column1"></td>
                <td class="column100 column2" data-column="column2"></td>
                <td class="column100 column3" data-column="column3"></td>
                <td class="column100 column4" data-column="column4"></td>
                <td class="column100 column5" data-column="column5"></td>
                <td class="column100 column6" data-column="column6"></td>
                <td class="column100 column7" data-column="column7"></td>
                <td class="column100 column8" data-column="column8"></td>
            </tr>

            <tr class="row100">
                <td class="column100 column1" data-column="column1"></td>
                <td class="column100 column2" data-column="column2"></td>
                <td class="column100 column3" data-column="column3"></td>
                <td class="column100 column4" data-column="column4"></td>
                <td class="column100 column5" data-column="column5"></td>
                <td class="column100 column6" data-column="column6"></td>
                <td class="column100 column7" data-column="column7"></td>
                <td class="column100 column8" data-column="column8"></td>
            </tr>

            <tr class="row100">
                <td class="column100 column1" data-column="column1"></td>
                <td class="column100 column2" data-column="column2"></td>
                <td class="column100 column3" data-column="column3"></td>
                <td class="column100 column4" data-column="column4"></td>
                <td class="column100 column5" data-column="column5"></td>
                <td class="column100 column6" data-column="column6"></td>
                <td class="column100 column7" data-column="column7"></td>
                <td class="column100 column8" data-column="column8"></td>
            </tr>

            <tr class="row100">
                <td class="column100 column1" data-column="column1"></td>
                <td class="column100 column2" data-column="column2"></td>
                <td class="column100 column3" data-column="column3"></td>
                <td class="column100 column4" data-column="column4"></td>
                <td class="column100 column5" data-column="column5"></td>
                <td class="column100 column6" data-column="column6"></td>
                <td class="column100 column7" data-column="column7"></td>
                <td class="column100 column8" data-column="column8"></td>
            </tr>

            <tr class="row100">
                <td class="column100 column1" data-column="column1"></td>
                <td class="column100 column2" data-column="column2"></td>
                <td class="column100 column3" data-column="column3"></td>
                <td class="column100 column4" data-column="column4"></td>
                <td class="column100 column5" data-column="column5"></td>
                <td class="column100 column6" data-column="column6"></td>
                <td class="column100 column7" data-column="column7"></td>
                <td class="column100 column8" data-column="column8"></td>
            </tr>

            </tbody>
        </table>
    </div>
</div><!--content back-->

<div id="ddModal">
    <div class="modalContent">

        <h1 class="left-h1">Diabetes Diary</h1>
        <h2 class="left-h2"></h2>
        <h4 class="left-h4">Fasting Plasma Glucose</h4>

        <input type='hidden' id="modalYear" value=""/>
        <input type='hidden' id="modalMonth" value=""/>
        <input type='hidden' id="modalDay" value=""/>


        <input type="text" id="FastingPlasmaGlucose" placeholder="write your Fasting Plasma Glucose">

        <h3 class="afterMeal-h3">Blood Sugar After Meal</h3>
        <div class="table100 ver2 m-b-110">
            <table data-vertable="ver2">
                <thead id="thead">
                <tr class="row100 head">
                    <th class="column100 column1" data-column="column1">MealTime</th>
                    <th class="column100 column2" data-column="column2">BreakFast</th>
                    <th class="column100 column3" data-column="column3">Lunch</th>
                    <th class="column100 column4" data-column="column4">Dinner</th>
                </tr>
                </thead>
                <tbody>
                <tr class="row100">
                    <td class="column100 column1" data-column="column1">Numerical value</td>
                    <td class="column100 column2" data-column="column2"><input type="text" id="breakFastValue"></td>
                    <td class="column100 column3" data-column="column3"><input type="text" id="lunchValue"></td>
                    <td class="column100 column4" data-column="column4"><input type="text" id="dinnerValue"></td>
                </tr>
                <tr class="row100">
                    <td class="column100 column1" data-column="column1" id="afterMeal-td-diet">Diet</td>
                    <td class="column100 column2" data-column="column2" id="afterMeal-td-diet"></td>
                    <td class="column100 column3" data-column="column3" id="afterMeal-td-diet"></td>
                    <td class="column100 column4" data-column="column4" id="afterMeal-td-diet"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <button type='button' id="btn-cancel" class="normal">Cancel</button>

        <button type="button" id="btn-save" class="normal">
            Save
        </button>

    </div>
    <div class="modalBackground"></div>
</div><!--dd modal -->

<div id="ddModalSelect">
    <div class="modalContent">
        <h1 class="left-h1">Diabetes Diary</h1>
        <h2 class="left-h2"></h2>
        <h4 class="left-h4">Fasting Plasma Glucose</h4>

        <input type='hidden' id="modalYearSelect" value=""/>
        <input type='hidden' id="modalMonthSelect" value=""/>
        <input type='hidden' id="modalDaySelect" value=""/>

        <input type="text" id="FastingPlasmaGlucoseSelect" value="">
        <input type="hidden" id="diaryId" value="">


        <h3 class="afterMeal-h3">Blood Sugar After Meal</h3>

        <div class="table100 ver2 m-b-110">
            <table data-vertable="ver2">
                <thead id="thead">
                <tr class="row100 head">
                    <th class="column100 column1" data-column="column1">MealTime</th>
                    <th class="column100 column2" data-column="column2">BreakFast</th>
                    <th class="column100 column3" data-column="column3">Lunch</th>
                    <th class="column100 column4" data-column="column4">Dinner</th>
                </tr>
                </thead>

                <tbody>

                <tr class="row100">
                    <td class="column100 column1" data-column="column1">Numerical value</td>
                    <td class="column100 column2" data-column="column2"><input type="text" id="breakFastValueSelect"></td>
                    <td class="column100 column3" data-column="column3"><input type="text" id="lunchValueSelect"></td>
                    <td class="column100 column4" data-column="column4"><input type="text" id="dinnerValueSelect"></td>
                </tr>
                <tr class="row100">
                    <td class="column100 column1" data-column="column1" id="afterMeal-td-diet">Diet</td>
                    <td class="column100 column2" data-column="column2" id="afterMeal-td-diet"></td>
                    <td class="column100 column3" data-column="column3" id="afterMeal-td-diet"></td>
                    <td class="column100 column4" data-column="column4" id="afterMeal-td-diet"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <a href="/api/diabetes/calendar" role="button" id="btn-cancel" class="normal">Cancel</a>

        <button type="button" id="btn-update" class="normal">
            update
        </button>
        <button type="button" id="btn-delete" class="normal">
            delete
        </button>
    </div><!--modal content-->

    <div class="modalBackground"></div>

</div><!--ddModalSelect-->
{{/layout}}
