{{#layout}}

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <div class="main">
        <table id="chartTable">
            <thead id="chartThead">
            <tr>
                <td colspan="7" class="chartTop">
                    <button type='button' id='chartFastPre'><i class="fas fa-angle-double-left"></i></button>
                    <button type='button' id='chartPre'><i class="fas fa-angle-left"></i></button>
                    <span class="chartTopTitle" id='yearMonth'>2021.03</span>
                    <button type='button' id='chartNext'><i class="fas fa-angle-right"></i></button>
                    <button type='button' id='chartFastNext'><i class="fas fa-angle-double-right"></i></button>
                </td>
            </tr>
        </table>

        <select name="dataType" class="form-select"  id="selectData" onchange="changeItem()">
            <option value="month">per month</option>
            <option value="fpgPerDay">FPG per day</option>
            <option value="breakFastPerDay">breakFast per day</option>
            <option value="lunchFastPerDay">lunch per day</option>
            <option value="dinnerFastPerDay">dinner per day</option>
        </select>

        <div class="chart-container" style="position: relative; height:25vh; width:70vw; left:10%;">
            <canvas id="chart"></canvas>
        </div>

    </div>
{{/layout}}
<script src="/js/app/charts/chart.js"></script>