{{>layout/header}}
<link href="/css/styleDDForm.css" rel='stylesheet' type="text/css"/>
<link href="/css/button.css" rel='stylesheet' type="text/css"/>
</head>
<body>
<div class="content-wrapper">
    <div class="content-left">
        <h1 class="left-h1">Diabetes Diary</h1>
        <h2 class="left-h2">This is your diary ! </h2>
        <h4 class="left-h4">Fasting Plasma Glucose</h4>


        {{#bloodSugar}}
            <input type="text" id="FastingPlasmaGlucose" value={{fastingPlasmaGlucose}}>
            <input type="hidden" id="diaryId" value={{id}}>


            <h3 class="afterMeal-h3">Blood Sugar After Meal</h3>

        <table class="table table-bordered" id="afterMeal-table">
        <tbody class="afterMeal-tbody">

        <tr>
            <td>MealTime</td>
            <td>BreakFast</td>
            <td>Lunch</td>
            <td>Dinner</td>
        </tr>
        <tr id="afterMeal-td-value">
            <td>Numerical value</td>
            <td><input type="text" id="breakFastValue" value={{breakfastBloodSugar}}></td>
            <td><input type="text" id="lunchValue" value={{lunchBloodSugar}}></td>
            <td><input type="text" id="dinnerValue" value={{dinnerBloodSugar}}></td>
        {{/bloodSugar}}
    </tr>
    <tr>
        <td class="afterMeal-td-diet" id="afterMeal-td-diet">Diet</td>
        <td class="afterMeal-td-diet"></td>
        <td class="afterMeal-td-diet"></td>
        <td class="afterMeal-td-diet"></td>
    </tr>
    </tbody>
    </table>


        <a href="/api/diabetes/calendar" role="button" id="btn-cancel" class="normal">Cancel</a>

        <button type="button" id="btn-update" class="normal">
            update
        </button>
        <button type="button" id="btn-delete" class="normal">
            delete
        </button>

    </div>

    <div class="content-right">
        {{>calendar/Calendar}}
    </div>

</div>

<script src="/js/app/DDForm.js"></script>
<script src="/js/app/DDFormSelect.js"></script>
</body>

</html>
