
{{>layout/header}}
<link href="/css/styleDDForm.css" rel='stylesheet' type="text/css"/>
<link href="/css/button.css" rel='stylesheet' type="text/css"/>
</head>
<body>
<div class="content-wrapper">
    {{>layout/left}}
        <h1 class="left-h1">Diabetes Diary</h1>
        <h2 class="left-h2">Write your own diabetes meal diary</h2>
        <h4 class="left-h4">Fasting Plasma Glucose</h4>


        <input type="text" id="FastingPlasmaGlucose" placeholder="write your Fasting Plasma Glucose">



        <h3 class="afterMeal-h3">Blood Sugar After Meal</h3>

    <table class="table table-bordered" id="afterMeal-table" >
        <tbody class="afterMeal-tbody">
        <tr >
            <td>MealTime</td>
            <td >BreakFast</td>
            <td >Lunch</td>
            <td>Dinner</td>
        </tr>
        <tr id="afterMeal-td-value">
            <td>Numerical value</td>
            <td><input type="text" id="breakFastValue"></td>
            <td><input type="text" id="lunchValue"></td>
            <td><input type="text" id="dinnerValue"></td>
        </tr>
        <tr>
            <td class="afterMeal-td-diet" id="afterMeal-td-diet">Diet</td>
            <td class="afterMeal-td-diet"></td>
            <td class="afterMeal-td-diet"></td>
            <td class="afterMeal-td-diet"></td>
        </tr>
        </tbody>
    </table>

    <a href="/" role="button" id="btn-cancel" class="normal">Cancel</a>

    <button type="button" id="btn-save" class="normal">
        Save
    </button>

    </div>


    {{>layout/right}}
    </div>

</div>

{{>layout/footer}}
