{{>layout/header}}
<link href="/css/background.css" rel='stylesheet' type="text/css"/>
<link href="/css/button.css" rel='stylesheet' type="text/css"/>
</head>
<body>

<div class="content-wrapper">
  {{>layout/back}}

  </div> <!--background div-->
</div>

{{>layout/footer}}
