{{#layout}}
        <form action="#" id="login-form">
            <div class="head">Login</div>
            <div class="social">
                <h4>Connect with</h4>
                <ul>
                    <li>
                        <a href="/oauth2/authorization/google" role="button" class="google"><i class="fab fa-google"></i></a>
                    </li>
                    <li>
                        <a href="#" role="button" class="facebook"><i class="fab fa-facebook-square"></i></a>
                    </li>
                    <li>
                        <a href="#" role="button" class="git"><i class="fab fa-github"></i></a>
                    </li>
                </ul>
            </div>

            <div class="divider">
                <span>or</span>
            </div>

            <div class="input-field">
                <label for="email">Email</label>
                <input type="email" name="email" />
                <label for="password">Password</label>
                <input type="password" name="password" required/>
                <input type="submit" value="Login" />
                <p class="text-p">Don't have an account? <a href="#">Sign up</a></p>
            </div>
        </form>
{{/layout}}


